@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.ff_raleway {
  font-family: "Raleway", "sans serif";
}
body {
  font-family: "Raleway", "sans serif";
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

.infinite_section {
  padding: 70px 0;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto !important;
}
.infinite_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-width: 1120px;
  overflow: hidden;
}

.infinite_heading {
  text-align: center;
  font-size: 30px;
  line-height: 129%;
}

.infinite_para {
  font-size: 16px;
  max-width: 570px;
  margin: 16px auto 24px auto;
  text-align: center;
}

.table_heading {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.table_sub_heading {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
/* common classes */
.overflow_x_scroll {
  overflow-x: scroll;
}

.para_hidden {
  max-height: 0 !important;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.para_show {
  max-height: 150px !important;
  transition: all 0.5s ease-in-out;
}
.border_bottom {
  border-bottom: 1px solid #e5e5e5;
}
.text_nowrap {
  text-wrap: nowrap;
}
.text_center {
  text-align: center;
}

/* position classes */
.position_relative {
  position: relative;
}
/* color and bg */
.bg_skyblue {
  background-color: #f3f7fa;
}

.text_offBlack {
  color: #0f2a4d;
}

.text_lightGray {
  color: #333333;
}

.text_black {
  color: #0000;
}
.text_white {
  color: white;
}
/* button css */
.more_btn {
  padding: 10px 20px;
  margin-top: 32px;
  border-radius: 10px;
  background-color: #036f8f;
  border: 2px solid transparent;
  transition: all 300ms linear;
  cursor: pointer;
}
.more_btn:hover {
  background-color: transparent;
  color: #036f8f;
  border: 2px solid #036f8f;
}

/* circle */
.circle {
  height: 22px;
  width: 22px;
  border: 2px solid #036f8f;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.circle::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 10px;
  background-color: #036f8f;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}
.circle::after {
  position: absolute;
  transition: all 400ms linear;
  content: "";
  height: 10px;
  width: 2px;
  background-color: #036f8f;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon_change.circle::after {
  height: 0;
}
.cursor_pointer {
  cursor: pointer;
}
.radish_top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.radish_bottom {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* flex and alignment */
.d_flex {
  display: flex;
}

.justify_content_center {
  justify-content: center;
}

.gap_20 {
  gap: 20px;
}

/* font weight */
.fw_medium {
  font-weight: 500;
}

.fw_semiBold {
  font-weight: 600;
}

.fw_bold {
  font-weight: bold;
}

.fw_extraBold {
  font-weight: 800;
}

.fw_regular {
  font-weight: 400;
}

/* font size */
.fs_sm {
  font-size: 14px;
}

.fs_base {
  font-size: 16px;
}

/* opacity */
.opacity_80 {
  opacity: 80%;
}

/* padding */
.pt_14 {
  padding-top: 14px;
}

.p_20 {
  padding: 20px;
}

/* line height */
.leading_normal {
  line-height: 150%;
}
.top_left_circle {
  display: none;
}

@media (min-width: 576px) {
  .infinite_heading {
    font-size: 32px;
  }
  .p_sm_24 {
    padding: 24px;
  }
  .top_left_circle {
    display: unset;
    position: absolute;
    left: -2%;
    top: 0;
    max-width: 100px;
  }
}
@media (min-width: 768px) {
  .infinite_heading {
    font-size: 38px;
  }
  .infinite_section {
    padding: 100px 0;
  }
  .more_btn {
    padding: 12px 20px;
    margin-top: 40px;
  }
  .gap_md_30 {
    gap: 30px;
  }
  .top_left_circle {
    max-width: 150px;
    top: 0;
  }
}
@media (min-width: 992px) {
  .infinite_heading {
    font-size: 48px;
  }
  .infinite_section {
    padding: 140px 0;
  }
  .overflow_x_scroll {
    overflow-x: unset !important;
    overflow-y: hidden !important;
  }
  .more_btn {
    padding: 14px 22px;
    margin-top: 48px;
  }
  .top_left_circle {
    max-width: 220px;
  }
  .infinite_para {
    margin: 16px auto 60px auto;
  }
}
@media (min-width: 1280px) {
  .top_left_circle {
    max-width: 287px;
  }
}
